#the-thief-pet {
    position: fixed;
    z-index: 999999;
    font-size: 40px;
    user-select: none;
    cursor: pointer;
    transition: transform 0.1s linear;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
    width: 50px;
    height: 50px;
    text-align: center;
    pointer-events: auto;
    line-height: 50px;
}

@keyframes thief-waddle {
    0%{ transform: rotate(-5deg)}
    50%{transform: rotate(5deg)}
    100%{transform: rotate(-5deg)}
}

.thief-walking {animation: thief-waddle 0.5s infinite;}

.thief-bubble {
    position: absolute;
    bottom: 100%;
    left: 50%;
    background: white;
    transform: translateX(-50%);
    border: 2px solid black;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px 10px;
    font-family: sans-serif;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
    color: black;
    font-weight: bold;
}

.thief-bubble.visible {opacity: 1;}